<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <!-- Add any necessary CSS or other head content -->
</head>
<body>
<header class="header">
<!--    <div class="container">-->
        <a href="/">Your Logo</a>
        <div class="user-info">
            <span>Welcome, <span th:text="${#strings.isEmpty(username) ? 'Guest' : username}">Guest</span></span>
            <button th:if="${#strings.isEmpty(username)}" onclick="location.href='/login'">Login</button>
            <button th:unless="${#strings.isEmpty(username)}" onclick="location.href='/logout'">Logout</button>
        </div>
<!--    </div>-->
</header>
</body>
</html>
